@model X.PagedList.IPagedList<Bookstore.POCO.Book>
@using X.PagedList.Mvc.Core;



@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Шукати" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Назва книги", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Опис
            </th>
            <th>
                Ціна
            </th>
            <th>
                Рік видавництва
            </th>
            <th>
                Видавництво
            </th>
            <th>
                Мова
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfPublishing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishingHouse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Photos.FirstOrDefault().Address)" alt="Icon" width="170" height="170">

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))