@model Bookstore.Models.Login

@{
    ViewData["Title"] = "Login";
}

@using (Html.BeginForm())
{
    <div class="bs-example" >

        <div class="form-group centerlook">
            <h1>
                Вхід на сайт
            </h1>
        </div>
        <div class="form-group centerlook">
            <label>
                e-mail:&nbsp;&nbsp;&nbsp;
            </label>
            @Html.EditorFor(model => model.Username) *
            @Html.ValidationMessageFor(model => model.Username)
        </div>
        <div class="form-group centerlook">
            <label> Пароль:&nbsp;</label>
            @Html.EditorFor(model => model.Password) *
            @Html.ValidationMessageFor(model => model.Password)

        </div>
        <div class="form-group error">
            @if (@ViewBag.Failedcount != null)
            {

                <label>@ViewBag.Failedcount</label>
            }

            @if (@ViewBag.NotValidUser != null)
            {

                <label> @ViewBag.NotValidUser</label>
            }
        </div>
        <div class="form-group error">
            <input type="submit" value="Увійти" class="btn btn-primary" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Зареєструватися", "Index", "Зареєструватися")

        </div>
        <div class="loginbtn">

        </div>
    </div>
}

